<div id="main">
    <div class="section-center ">
        <div class="container-fluid">
            <form class="form-inline form-floating" [formGroup]="searchControl" (ngSubmit)="submitForm()">

                <div class="form-group">

                    <div class="ng-autocomplete ">


                        <ng-autocomplete [data]="locations" formControlName="autoComplete" [isLoading]="isLoading"
                            [searchKeyword]="key" (selected)='select($event)' (inputChanged)='onChangeSearch($event)'
                            (inputFocused)='onFocused($event)' [itemTemplate]="itemTemplate"
                            [ngClass]="{'is-invalid': searchControl.controls.autoComplete.invalid && (searchControl.controls.autoComplete.dirty || searchControl.controls.autoComplete.touched)}">

                        </ng-autocomplete>

                        <ng-template #itemTemplate let-loc>
                            <span class="material-icons"> location_on </span>
                            <div style="margin-left: 5px;">
                                <p [innerHTML]="'<b>' + loc.name + ' (' + loc.iataCode + ')</b>'"> </p>
                                <span>{{loc.address.cityName}}</span><span>-{{loc.address.countryName | lowercase}}</span>
                            </div>
                            <hr>
                        </ng-template>

                    </div>



                </div>



                <div class="form-group click">

                    <div class="form-control col-md-11" id="myBtn" (click)="openmodal()">
                        <label class="label" for="myBtn">Voyageurs</label>
                        <p style="margin-top: 23px;">{{listechambre.length}} chambre, {{listechambre
                                                        | sum}} voyageurs
                            <span class="material-icons iconstyle">people</span>
                        </p>
                    </div>
                </div>




                <mat-form-field appearance="outline" class="example-form-field">
                    <mat-label style="font-size:15px;">Check-in</mat-label>
                    <input matInput [matDatepicker]="datepicker1" [min]="todaydate" formControlName="dateStart">
                    <mat-datepicker-toggle matSuffix [for]="datepicker1"></mat-datepicker-toggle>
                    <!-- #docregion datepicker-actions -->
                    <mat-datepicker #datepicker1>
                        <mat-datepicker-actions>
                            <button mat-button matDatepickerCancel>Cancel</button>
                            <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                        </mat-datepicker-actions>
                    </mat-datepicker>

                </mat-form-field>


                <mat-form-field appearance="outline" class="example-form-field">
                    <mat-label style="font-size:15px;">Check-out</mat-label>
                    <input matInput [matDatepicker]="datepicker2" [min]="searchControl.controls.dateStart.value"
                        formControlName="dateEnd">
                    <mat-datepicker-toggle matSuffix [for]="datepicker2"></mat-datepicker-toggle>

                    <mat-datepicker #datepicker2>
                        <mat-datepicker-actions>
                            <button mat-button matDatepickerCancel>Cancel</button>
                            <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                        </mat-datepicker-actions>
                    </mat-datepicker>

                </mat-form-field>


                <div class="form-btn">
                    <button class="btn btn-primary submit-btn" type="submit">
                        <p>Recherche</p>
                    </button>
                </div>



            </form>

        </div>

    </div>
</div>


<div class="card">

    <div class="card-header">
        <div class="card-title">
            <br>
            <h2>Hôtel Lac Léman <br> ★★★★ </h2>
            <button class="btn btn-primary" type="submit">Reserver une chambre</button>
        </div>

    </div>
    <br>
    <div class="lightbox">
        <!-- Gallery -->
        <div class="row">

            <div class="col-lg-6 col-md-12 mb-4 mb-lg-0" style="position:unset">
                <img style="margin-left: 15px;height: 19rem;" src="assets/img/hotel1.jpg"
                    alt="Lightbox image 1"
                    class="w-100 mb-2 mb-md-4 shadow-1-strong rounded" />

            </div>
            <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
                <img style="margin-left: -6px ;height: 9.2rem;" src="assets/img/hotel2.jpg"
                     alt="Lightbox image 1"
                    class="w-100 mb-2 mb-md-4 shadow-1-strong rounded" />
                <img style="margin-left: -6px;margin-top: -14px;height: 9.2rem;"
                    src="assets/img/hotel3.jpg"
                    alt="Lightbox image 1"
                    class="w-100 mb-2 mb-md-4 shadow-1-strong rounded" />

            </div>
            <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
                <img style="margin-left:-25px ;height: 9.2rem;" src="assets/img/hotel4.jpg"
                    data-mdb-img="https://mdbootstrap.com/img/Photos/Slides/1.jpg" alt="Lightbox image 1"
                    class="w-100 mb-2 mb-md-4 shadow-1-strong rounded" />
                <img style="margin-left: -25px ;margin-top: -14px; height: 9.2rem;"
                    src="assets/img/hotel5.jpg"
                    data-mdb-img="https://mdbootstrap.com/img/Photos/Slides/1.jpg" alt="Lightbox image 1"
                    class="w-100 mb-2 mb-md-4 shadow-1-strong rounded" />
            </div>

            <div class="col-lg-3 col-md-12 mb-4 mb-lg-0 navb">

                <nav class="navbar navbar-expand-lg navbar-light">


                    <div class="collapse navbar-collapse" id="navbarToggler9">
                        <ul class="navbar-nav">

                            <li class="nav-item">
                                <a class="nav-link" href="#">Presentation</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Chambre</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Équipements</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Conditions</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Avis</a>
                            </li>



                        </ul>

                    </div>
                </nav>

                <hr class="hr">

                <br>

                <h3>Équipements populaires</h3> <br>
                <ul class="equipement">
                    <li><span class="material-icons mat">
                            ac_unit
                        </span>climatisation</li>
                    <li>
                        <span class="material-icons mat">
                            local_cafe
                        </span>
                        Petit-déjeuner inclus </li>
                    <li><span class="material-icons mat">
                            beach_access
                        </span>1ere position</li>
                    <li><span class="material-icons mat">
                            wifi
                        </span>Wifi Gratuit</li>
                    <li><span class="material-icons mat">
                            local_parking
                        </span>Parking inclus</li>
                    <li><span class="material-icons mat">
                            local_convenience_store
                        </span>Réception 24/24</li>
                </ul>

                <br>
                <h3>Protocole sanitaire</h3><br>

                <ul class="equipement">
                    <li>
                        <span class="material-icons mat">
                            social_distance
                        </span>
                        Distanciation sociale </li>

                    <li>
                        <span class="material-icons mat">
                            medical_services
                        </span>
                        Mesures de sécurité </li>

                    <li>
                        <span class="material-icons mat">
                            sanitizer
                        </span>
                        Nettoyage avec désinfectant </li>


                </ul>
                <br>
                <br>
            

            </div>
                 
                <h3 class="location">Découvrir la zone</h3><br>
                <p class="plocation"><span class="material-icons mat">
                    location_on
                </span>Dah Dah Happy Land Entertainment Park (parc de loisirs)
                </p>

                        <h3 style="margin-left:42px ;">Chambre</h3><br>
                        <div  class="card" style="width:25rem ;margin-top: 45px;margin-left: -55px;margin-bottom: 15px;">
                            <img src="assets/img/chambre1.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h3 class="cardtitle">Suite</h3>
                                <ul class="cardtext">
                                    <li>
                                        <span class="material-icons mat" >
                                            straighten
                                        </span>24 m²
                                    </li>
                                    <li>
                                    <span class="material-icons mat">
                                        bed
                                    </span>Trés grand lit
                                    </li>
                                    <li>
                                        <span class="material-icons mat">
                                            wifi
                                        </span>wifi gratuit 
                                    </li>
                                    <li>
                                        <span class="material-icons mat">
                                        people_alt
                                        </span>3 personnes
                                    </li>
                                    <li>
                                        <span class="material-icons mat">
                                        beach_access
                                        </span>vue sur mere
                                    </li>
                                    <hr style="margin-left:-25px;">
                                    <li><h4>Politique d'annulation</h4></li>
                                    <li><label class="checkbox-inline">
                                        <input type="checkbox" class="checkbox-circle" name="" >
                                    </label>   Non remboursable      (0dt)</li>
                                    <hr style="margin-left:-25px;">
                                    <li><h2>100dt</h2></li>
                                </ul>
                                <a href="#" class="btn btn-primary float-lg-right">Reserver</a>
                            </div>
                        </div>
                        
                        <div class="card" style="width:25rem ;margin-top: 45px;margin-left: 5px;margin-bottom: 15px;">
                            <img src="assets/img/chambre2.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h3 class="cardtitle">Chambre Single</h3>
                            <ul class="cardtext">
                                <li>
                                    <span class="material-icons mat">
                                        straighten
                                    </span>24 m²
                                </li>
                                <li>
                                    <span class="material-icons mat">
                                        bed
                                    </span>Trés grand lit
                                </li>
                                <li>
                                    <span class="material-icons mat">
                                        wifi
                                    </span>wifi gratuit
                                </li>
                                <li>
                                    <span class="material-icons mat">
                                        people_alt
                                    </span>3 personnes
                                </li>
                                <li>
                                    <span class="material-icons mat">
                                        beach_access
                                    </span>vue sur mere
                                </li>
                                <hr style="margin-left:-25px;">
                                <li>
                                    <h4>Politique d'annulation</h4>
                                </li>
                                <li><label class="checkbox-inline">
                                        <input type="checkbox" class="checkbox-circle" name="">
                                    </label> Non remboursable (0dt)</li>
                                <hr style="margin-left:-25px;">
                                <li>
                                    <h2>90dt</h2>
                                </li>
                            </ul>
                            <a href="#" class="btn btn-primary float-lg-right">Reserver</a>
                        </div>
                        </div>
                        

                        <div class="card" style="width:25rem ;margin-top: 45px;margin-left: 5px;margin-bottom: 15px;">
                            <img src="assets/img/chambre3.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h3 class="cardtitle">Chambre Double</h3>
                                <ul class="cardtext">
                                    <li>
                                        <span class="material-icons mat">
                                            straighten
                                        </span>24 m²
                                    </li>
                                    <li>
                                        <span class="material-icons mat">
                                            bed
                                        </span>Trés grand lit
                                    </li>
                                    <li>
                                        <span class="material-icons mat">
                                            wifi
                                        </span>wifi gratuit
                                    </li>
                                    <li>
                                        <span class="material-icons mat">
                                            people_alt
                                        </span>3 personnes
                                    </li>
                                    <li>
                                        <span class="material-icons mat">
                                            beach_access
                                        </span>vue sur mere
                                    </li>
                                    <hr style="margin-left:-25px;">
                                    <li>
                                        <h4>Politique d'annulation</h4>
                                    </li>
                                    <li><label class="checkbox-inline">
                                            <input type="checkbox" class="checkbox-circle" name="">
                                        </label> Non remboursable (0dt)</li>
                                    <hr style="margin-left:-25px;">
                                    <li>
                                        <h2>120dt</h2>
                                    </li>
                                </ul>
                                <a href="#" class="btn btn-primary float-lg-right">Reserver</a>
                            </div>
                        </div>
                        
            
                    </div>
        <!-- Gallery -->
    </div>
</div>
<br>
<br>

<div class="container">
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia sit facilis tenetur voluptatibus velit non
        eveniet quia doloribus, quaerat itaque aliquid, totam dolor cumque iste, quos laborum ea quidem placeat!</p>
</div>
<!--modal-->
<div id="myModal" class="modal">
    <div class="modal-content" style="top:30vh">
        <div class="modal-header">
            <h5 class="text-primary">Voyageurs</h5>
            <span class="close" (click)="closemodal()">&times;</span>

        </div>

        <div class="modal-body" *ngFor="let chambre of listechambre; let index = index;">
            <hr *ngIf="index != 0">
            <h6 class="text-primary">chambre {{index + 1}}</h6>
            <span class="counter"><strong> Adultes</strong></span>
            <ul class="btn-group">
                <li>
                    <a (click)="moin(index,'adult')"> <span style="margin-right: -22px;" class="material-icons">
                            remove_circle_outlined
                        </span></a>
                </li>
                <li>
                    <input matInput type="text" size="1%" [value]="chambre.adult" readonly="isReadonly"
                        class="inputcounter">
                </li>
                <li>
                    <a (click)="plus(index,'adult')"><span class="material-icons">
                            add_circle_outlined
                        </span></a>
                </li>
            </ul> <br>
            <br>
            <br>
            <span class="counter"> <strong> Enfants </strong></span>

            <ul class="btn-group">
                <li>
                    <a (click)="moin(index,'enfant')">
                        <span class="material-icons">
                            remove_circle_outlined
                        </span></a>
                </li>
                <li>
                    <input type="text" size="1%" [value]="chambre.enfant" readonly="isReadonly" class="inputcounter">
                </li>
                <li>
                    <a (click)="plus(index,'enfant')">
                        <span class="material-icons">
                            add_circle_outlined
                        </span></a>
                </li>
            </ul>
            <div *ngIf="index != 0">
                <button (click)="removeChamber(index)" class="pstyle float-right text-danger">Supprimer la
                    chambre</button>
                <br>
            </div>
        </div>


        <button id="btnforme" (click)="addChamber()" [disabled]="disabled" class="pstyle">Ajouter une autre
            chambre</button>

        <div class="modal-footer">
            <button class="btn btn-primary">Confirmer</button>
        </div>
    </div>
</div>

<!--modal-->

<footer class="bg-light-gray text-center text-lg-start">
    <!-- Grid container -->
    <div class="container p-4">
        <!--Grid row-->
        <div class="row">
            <!--Grid column-->
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <h5 class="text-uppercase">Footer Content</h5>

                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis
                    molestias. Fugiat pariatur maxime quis culpa corporis vitae repudiandae aliquam
                    voluptatem veniam, est atque cumque eum delectus sint!
                </p>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Links</h5>

                <ul class="list-unstyled mb-0">
                    <li>
                        <a href="#!" class="text-dark">Link 1</a>
                    </li>
                    <li>
                        <a href="#!" class="text-dark">Link 2</a>
                    </li>
                    <li>
                        <a href="#!" class="text-dark">Link 3</a>
                    </li>
                    <li>
                        <a href="#!" class="text-dark">Link 4</a>
                    </li>
                </ul>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase mb-0">Links</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="#!" class="text-dark">Link 1</a>
                    </li>
                    <li>
                        <a href="#!" class="text-dark">Link 2</a>
                    </li>
                    <li>
                        <a href="#!" class="text-dark">Link 3</a>
                    </li>
                    <li>
                        <a href="#!" class="text-dark">Link 4</a>
                    </li>
                </ul>
            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2020 Copyright:
        <a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
</footer>