 @media screen and (min-width: 420px) {
 
 #main {
    transition: margin-left 0.5s;
    padding: 16px;
    margin-left: 80px;
    padding-top: 0px;
    
  }


  
  .section .section-center {
	position: absolute;
	top: 50%;
	left: 0px;
	right: 0px;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}


#booking {
	font-family: 'Imprima', sans-serif;
	background-color: black;
	background-size: cover;
    background-position: center;
   margin-right: 0px;
}



 

}