<div id="main">
  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <div class="row">
        <form class="form-inline form-floating" name="form" #f="ngForm" (ngSubmit)="f.form.valid && submitForm()">
          <div class="col-4">
            <div class="form-group">
              
              <div class="ng-autocomplete ">
                <h5 class="form-label" style="position: absolute; z-index: 1;">
                  Destination </h5>
                <ng-autocomplete [data]="locations" [formControl]="search" [isLoading]="isLoading" [searchKeyword]="key"
                  (selected)='select($event)' [itemTemplate]="itemTemplate" [customFilter]="filter">
                </ng-autocomplete>

                <ng-template #itemTemplate let-loc>
                  <span class="material-icons"> location_on </span>
                  <div style="margin-left: 5px;">
                    <p [innerHTML]="'<b>' + loc.name + ' (' + loc.iataCode + ')</b>'"> </p>
                    <span>{{loc.address.cityName}}</span><span>-{{loc.address.countryName | lowercase}}</span>
                  </div>
                  <hr>
                </ng-template>

              </div>
            </div>
          </div>

          <div class="col-auto">
            <div class="form-group click">

              <div class="form-control " id="myBtn" (click)="openmodal()">
                <label class="label" for="myBtn">Voyageurs</label>
                <p style="margin-top: 23px;">{{listechambre.length}} chambre, {{listechambre
                  | sum}} voyageurs
                  <span class="material-icons iconstyle">people</span>
                </p>
              </div>
            </div>
          </div>



          <div class="col-auto">
            <mat-form-field appearance="outline" class="example-form-field">
              <mat-label style="font-size:15px;">Check-in</mat-label>
              <input matInput [matDatepicker]="datepicker1" [min]="todaydate" [(ngModel)]="startDate" #start=ngModel
                name="startDate" [ngClass]="{'is-invalid': f.submitted && start.invalid}" (dateChange)="next($event)"
                [ngClass]="{'is-invalid': f.submitted && start.invalid}" style="width: 80px;" required>
              <mat-datepicker-toggle matSuffix [for]="datepicker1"></mat-datepicker-toggle>
              <!-- #docregion datepicker-actions -->
              <mat-datepicker #datepicker1>
                <mat-datepicker-actions>
                  <button mat-button matDatepickerCancel>Cancel</button>
                  <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                </mat-datepicker-actions>
              </mat-datepicker>
              <div *ngIf="f.submitted && start.invalid">
                <div class="text-danger" *ngIf="start.errors?.required">start date is required</div>
              </div>

            </mat-form-field>
          </div>
          <div class="col-auto">
            <mat-form-field appearance="outline" class="example-form-field">
              <mat-label style="font-size:15px;">Check-out</mat-label>
              <input matInput [matDatepicker]="datepicker2" [min]="minCheckout" [(ngModel)]="endDate" #end=ngModel name="endDate"
                [ngClass]="{'is-invalid': f.submitted && end.invalid}" required>
              <mat-datepicker-toggle matSuffix [for]="datepicker2"></mat-datepicker-toggle>
              
              <mat-datepicker #datepicker2>
                <mat-datepicker-actions>
                  <button mat-button matDatepickerCancel>Cancel</button>
                  <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                </mat-datepicker-actions>
              </mat-datepicker>
              <div *ngIf="f.submitted && end.invalid">
                <div class="text-danger" *ngIf="end.errors?.required">End date is required</div>
              </div>

            </mat-form-field>
          </div>
          <div class="col-1">
            <div class="form-btn">
              <button class="submit-btn btn btn-primary" type="submit">
                <p>Recherche</p>
              </button>
            </div>
          </div>


        </form>
      </div>
    </div>

  </nav>
  <div class="row">
    <div class="col-md-3">
      <div class="sidebar">

        <h3>Filtrer selon</h3><br>
        <h4>Filtres populaires</h4>

        <ul>


          <li>
            <mat-checkbox class="example-margin">Tout compris</mat-checkbox>
          </li>
          <li>
            <mat-checkbox class="example-margin">Hôtel</mat-checkbox>
          </li>
          <li>
            <mat-checkbox class="example-margin">Piscine</mat-checkbox>
          </li>

          <li>
            <mat-checkbox class="example-margin">Petit-déjeuner compris</mat-checkbox>
          </li>

        </ul>
        <hr>
        <h4>Nombre d’étoiles</h4>

        <ul>

        <li>
          <mat-checkbox [formControl]="star5" (change)="filterStar($event, '5')" class="example-margin">5 ★★★★★
          </mat-checkbox>
        </li>
        <li>
          <mat-checkbox [formControl]="star4" (change)="filterStar($event, '4')" class="example-margin">4 ★★★★
          </mat-checkbox>
        </li>
        <li>
          <mat-checkbox [formControl]="star3" (change)="filterStar($event, '3')" class="example-margin">3 ★★★
          </mat-checkbox>
        </li>
        <li>
          <mat-checkbox [formControl]="star2" (change)="filterStar($event, '2')" class="example-margin">2 ★★
          </mat-checkbox>
        </li>
        <li>
          <mat-checkbox [formControl]="star1" (change)="filterStar($event, '1')" class="example-margin">1 ★
          </mat-checkbox>
        </li>
        </ul>

        <hr>
        <h4>Votre Budget</h4>
       <ul>
        <li>  <a *ngIf="isReset" class="btn btn-primary btn-sm" style="margin-top: -5px;" (click)="reset()">
            reset
          </a>
         
        </li>
        <li>  <ngx-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options" (userChangeEnd)="changeRnage($event)"
            style="width: 200px;"></ngx-slider>
       </li>
       </ul>
        <hr>
        <h4>Conditions de réservation</h4>

        <ul>
          <li>
            <mat-checkbox class="example-margin">Annulation gratuite</mat-checkbox>
          </li>
          <li>
            <mat-checkbox class="example-margin">Reservation sans carte de crédit </mat-checkbox>
          </li>
          <li>
            <mat-checkbox class="example-margin">Pas de prépaiement</mat-checkbox>
          </li>

        </ul>
        <hr>
        <h4>Note des commentaires</h4>

        <ul>
          <li>
            <mat-checkbox class="example-margin">Fabuleux:9+</mat-checkbox>
          </li>
          <li>
            <mat-checkbox class="example-margin">Trés bien:8+ </mat-checkbox>
          </li>
          <li>
            <mat-checkbox class="example-margin">Bien:7+</mat-checkbox>
          </li>
          <li>
            <mat-checkbox class="example-margin">Agréable:6+</mat-checkbox>
          </li>

        </ul>
        <hr>


      </div>
    </div>

    <div class="col-md-7" style="margin-top: 40px;">
      <h1>Hammamet : 21 établissements Trouvées</h1>
      <hr>
      <div *ngFor="let offer of hotelSearchResponse.hotelOffers" class="card">
        <ng-container *ngIf="offer.hotel?.media !== null; else elseTemplate">
          <img src="{{offer.hotel!.media[0]}}" class="card-img-top">
        </ng-container>
        <ng-template #elseTemplate>
          <img src="assets/img/noimage.png" class="card-img-top">
        </ng-template>
        
        
        <div class="card-body">
          <h3 class="card-title">{{offer.hotel?.nom}} <br> <h3 *ngIf="offer.hotel">{{star.repeat(offer.hotel.nbr_etoile || 0)}}</h3></h3>
           
          <p class="card-text"><strong>chambre double-vue sur jardin </strong> </p>
          <p class="plit">2 lits simple</p>
          <h6 class="h6"><strong>Tout compris </strong></h6>
          <h6 class="h6"><strong>Annulation GRATUITE • Aucun prépaiement requis</strong> </h6>
          <span class="spann">Vous pourrez annuler plus tard. N'attendez donc pas pour vous <br> garantir ce super tarif
            aujourd'hui.</span>
          <button class="btn btn-sm btn-primary float-lg-right butt">Voir details</button><br>

        </div>
      </div>
     <button id="loadMore" class="btn btn-primary" (click)="loadMore()">Afficher plus</button> 
      <div *ngIf="fetching" class="sk-fading-circle">
        <div class="sk-circle1 sk-circle"></div>
        <div class="sk-circle2 sk-circle"></div>
        <div class="sk-circle3 sk-circle"></div>
        <div class="sk-circle4 sk-circle"></div>
        <div class="sk-circle5 sk-circle"></div>
        <div class="sk-circle6 sk-circle"></div>
        <div class="sk-circle7 sk-circle"></div>
        <div class="sk-circle8 sk-circle"></div>
        <div class="sk-circle9 sk-circle"></div>
        <div class="sk-circle10 sk-circle"></div>
        <div class="sk-circle11 sk-circle"></div>
        <div class="sk-circle12 sk-circle"></div>
      </div>
    </div>
    <div class=" col-2 float-lg-right" style="margin-top: 28px;">
      <mat-form-field appearance="outline">
        <mat-label>Trier par</mat-label>
        <mat-select name="tri">
          <mat-option>Recommandés </mat-option>
          <mat-option>Prix </mat-option>
          <mat-option>Notes des voyages</mat-option>
          <mat-option>Nombres des étoiles</mat-option>
        </mat-select>
      </mat-form-field>

    </div>
  </div>
</div>

<br>
<br>
<!--footer-->
<footer class="bg-light-gray text-center text-lg-start">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Footer Content</h5>

        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis
          molestias. Fugiat pariatur maxime quis culpa corporis vitae repudiandae aliquam
          voluptatem veniam, est atque cumque eum delectus sint!
        </p>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Links</h5>

        <ul class="list-unstyled mb-0">
          <li>
            <a href="#!" class="text-dark">Link 1</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Link 2</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Link 3</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Link 4</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-0">Links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!" class="text-dark">Link 1</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Link 2</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Link 3</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Link 4</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2020 Copyright:
    <a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a>
  </div>
  <!-- Copyright -->
</footer>



<br>
<br>









<div id="myModal" class="modal">
  <div class="modal-content" style="top:30vh">
    <div class="modal-header">
      <h5 class="text-primary">Voyageurs</h5>
    </div>

    <div class="modal-body" *ngFor="let chambre of listechambre; let index = index;">
      <hr *ngIf="index != 0">
      <h6 class="text-primary">chambre {{index + 1}}</h6>
      <span class="counter"><strong> Adultes</strong></span>
      <ul class="btn-group">
        <li>
          <a (click)="moin(index,'adult')"> <span style="margin-right: -22px;" class="material-icons">
              remove_circle_outlined
            </span></a>
        </li>
        <li>
          <input matInput type="text" size="1%" [value]="chambre.adult" readonly="isReadonly" class="inputcounter">
        </li>
        <li>
          <a (click)="plus(index,'adult')"><span class="material-icons">
              add_circle_outlined
            </span></a>
        </li>
      </ul> <br>
      <br>
      <br>
      <span class="counter"> <strong> Enfants </strong></span>

      <ul class="btn-group">
        <li>
          <a (click)="moin(index,'enfant')">
            <span class="material-icons">
              remove_circle_outlined
            </span></a>
        </li>
        <li>
          <input type="text" size="1%" [value]="chambre.enfant" readonly="isReadonly" class="inputcounter">
        </li>
        <li>
          <a (click)="plus(index,'enfant')">
            <span class="material-icons">
              add_circle_outlined
            </span></a>
        </li>
      </ul>
      <div *ngIf="index != 0">
        <button (click)="removeChamber(index)" class="pstyle float-right text-danger">Supprimer la
          chambre</button>
        <br>
      </div>
    </div>


    <button id="btnforme" (click)="addChamber()" [disabled]="disabled" class="pstyle">Ajouter une autre
      chambre</button>

    <div class="modal-footer">
      <button class="btn btn-primary" (click)="closemodal()">Confirmer</button>
    </div>
  </div>
</div>