<div class="sticky-top"> 
    <nav class="navbar navbar-light bg-primary ">
        <img class="navbar-brand logo" src="assets/img/logo-air-travel.jpg">
        <div class="navbar-nav ml-auto ">
            <a href="#" class="nav-item nav-link">sign-in</a>
        </div>
        <div class="navbar-nav" style="margin-right: -45px;">
            <a href="#" class="nav-item nav-link">sign-up</a>
        </div>
        <button class="openbtn" (click)="openNav()"><span><i class="fa fa-bars"></i></span></button>
    </nav>
</div>