<div id="mySidebar" class="sidebar" (mouseover)="toggleSidebar()" (mouseout)="toggleSidebar()">
    <a href="#"><span><i class="material-icons">person</i><span class="icon-text">user-name</span></span></a>

    <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
    <hr color=" white">

    <a routerLink="/hotels" routerLinkActive="btn btn-default selected-route" ><span><i class="material-icons">hotel</i><span class="icon-text">Hotel</span></span></a><br>
    <a routerLink="/flights" routerLinkActive="btn btn-default selected-route" ><span><i class="material-icons">flight</i><span class="icon-text">Vols</span></span></a><br>
    <a routerLink="/cars" routerLinkActive="btn btn-default selected-route" ><span><i class="material-icons">time_to_leave</i><span class="icon-text">Location</span></span></a><br>
    <hr color=" white">

    <a href="#"><span> <i class="material-icons">card_giftcard</i> <span class="icon-text">nospacks</span> </span></a>
    <div class="mobile">
        <hr>
        <!-- <a href="#"><span><i class="material-icons">login</i><span class="icon-text"></span>Connexion</span></a>
        <a href="#"><span><i class="material-icons">person_add</i><span class="icon-text"></span>S'inscrire</span></a> -->

    </div>
</div>
