<div class="row d-flex  mt-100 mb-100">
    <div class="col-lg-9">
        <div class="card">
            <div class="card-body ">
                <h4 class="card-title m-b-0">listes des reservation</h4>
            </div>
            <ul class="list-style-none">
                <li class="d-flex no-block card-body"> <i class="fa fa-user w-30px m-t-5"></i>
                    <div> <a href="#" class="m-b-0 font-medium p-0" data-abc="true">bassem cherni</a> <span class="text-muted">reserver 3 jours dans hisdribal prestige </span> </div>
                    <div class="ml-auto">
                        <div class="tetx-right">
                            <h5 class="text-muted m-b-0">26</h5> <span class="text-muted font-16">FEB</span>
                        </div>
                    </div>
                </li>
                <li class="d-flex no-block card-body border-top"> <i class="fa fa-user w-30px m-t-5"></i>
                    <div> <a href="#" class="m-b-0 font-medium p-0" data-abc="true">Oumaima bouchniba</a> <span class="text-muted">reserver 5 jours a l'hotel hammamet tallaso</span> </div>
                    <div class="ml-auto">
                        <div class="tetx-right">
                            <h5 class="text-muted m-b-0">11</h5> <span class="text-muted font-16">MAR</span>
                        </div>
                    </div>
                </li>
                <li class="d-flex no-block card-body border-top"> <i class="fa fa-user w-30px m-t-5"></i>
                    <div> <a href="#" class="m-b-0 font-medium p-0" data-abc="true">sarra souilah</a> <span class="text-muted">reserver 5 jours a l'hotel movenpick</span> </div>
                    <div class="ml-auto">
                        <div class="tetx-right">
                            <h5 class="text-muted m-b-0">19</h5> <span class="text-muted font-16">APR</span>
                        </div>
                    </div>
                </li>
                <li class="d-flex no-block card-body border-top"> <i class="fa fa-user w-30px m-t-5"></i>
                    <div> <a href="#" class="m-b-0 font-medium p-0" data-abc="true">hanen bahri</a> <span class="text-muted">reserver 5 jours a l'hotel elmouradi</span> </div>
                    <div class="ml-auto">
                        <div class="tetx-right">
                            <h5 class="text-muted m-b-0">20</h5> <span class="text-muted font-16">JUN</span>
                        </div>
                    </div>
                </li>
               
               
            </ul>
        </div>
    </div>
</div>
