<div id="booking" class="section">
    <div id="main">
        <div class="section-center">


            <div class="container">
                <div class="row" style="justify-content: center;">
                    <div class="booking-form">
                        <form>
                            <div class="row no-margin">
                              
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <span class="form-label">Destination</span>
                                        <input class="form-control" type="text"
                                            placeholder="Addresse ,Ville ou Airport" style="font-size: 15px;">
                                    </div>
                                </div>


                                <div class="col-md-4">
                                    <div class="form-group">
                                        <span class="form-label">Chambre</span>
                                        <input class="form-control" type="date" required>
                                    </div>
                                </div>
                             
                            
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <span class="form-label">Check In</span>
                                        <input class="form-control" type="date" required>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <span class="form-label">Check out</span>
                                        <input class="form-control" type="date" required>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-btn">
                                        <button class="submit-btn">Recherche</button>
                                    </div>


                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container">


    <h2 class="text-center text-primary"
        style="padding-top: 5%; padding-bottom: 2%; font-size: 40px; letter-spacing: 10px;">Nos
        Recommandation</h2>
    <hr>


    <div class="row">
        <div class="column">
            <div class="card">
                <img src="assets\img\Hammamet.jpg" alt="Jane" style="width:100%">
                <div class="container">
                    <h4>Hasdrubal Thalassa et SPA </h4>
                    <p class="title">★★★★★ (Hammamet)</p>
                    <p style="font-size: small; color:grey"> a partir de * <br> <strong
                            style="color: orange; font-size: 30px;">98 dt</strong> <br> prix du 07/1/2021</p>
                    <p><button class="button">Plus de details</button></p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="assets\img\Hammamet1.jpg" alt="Mike" style="width:100%">
                <div class="container">
                    <h4>El Mouradi El Menzah</h4>
                    <p class="title">★★★★ (Hammamet)</p>
                    <p style="font-size: small; color:grey"> a partir de * <br> <strong
                            style="color: orange; font-size: 30px;">75 dt
                            </strong> <br> prix du 05/4/2021</p>

                    <p><button class="button">Plus de details</button></p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="assets\img\mahdia.jpg" style="width:100% ; height: 170px;">
                <div class="container">
                    <h4>Club Calimera Yati Beach</h4>
                    <p class="title">★★★★ (Mahdia)</p>
                    <p style="font-size: small; color:grey"> a partir de * <br> 
                        <strong
                            style="color: orange; font-size: 30px;">43
                            dt</strong> <br> prix du 05/5/2021</p>
                    <p><button class="button">Plus de details</button></p>
                </div>
            </div>
        </div>
    </div>


    <h2 class="text-center text-primary"
        style="padding-top: 5%; padding-bottom: 2%; font-size: 40px; letter-spacing: 10px;">Nos Packs </h2>
    <hr>

    <div class="row">
        <div class="column">
            <div class="card">
                <img src="assets\img\pach33.jpg" alt="Jane" style="width:100%">
                <div class="container">
                  <br>
                    <p><button class="button">Plus de details</button></p>
                </div>
            </div>
        </div>
    
        <div class="column">
            <div class="card">
                <img src="assets\img\pack55.jpg" alt="Mike" style="width:100%">
                <div class="container">
             <br>
                    <p><button class="button">Plus de details</button></p>
                </div>
            </div>
        </div>
    
        <div class="column">
            <div class="card">
                <img src="assets\img\pack22.jpg" style="width:100% ">
                <div class="container">
                
                    <br>
                    <p><button class="button">Plus de details</button></p>
                </div>
            </div>
        </div>
    </div>

    <hr>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam excepturi ratione iusto sequi modi, harum
        neque! Nobis officia ea sapiente exercitationem laudantium quos, id, alias magnam labore assumenda cum
        obcaecati.s</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A est cumque aliquam, aliquid ratione eveniet dicta
        similique quis necessitatibus fuga et explicabo tenetur id corrupti nobis animi eligendi? Fugiat, dolor!</p>

</div>
<br>
<br>

<div class="about-section">
    <h1>About Us footer</h1>
    <p>Lorem ipsum dolor sit labore!</p>
    <p>i will fix it by the way.</p>
</div>