<div id="booking" class="section">
    <div id="main">
        <div class="section-center">


            <div class="container">
                <div class="row" style="justify-content: center;">
                    <div class="booking-form">
                        <form>
                            <div class="row no-margin">

                                <div class="col-md-8">
                                    <div class="form-group">
                                        <h6 class="form-label text-primary">Destination</h6>
                                        <div class="form-control">
                                            <p style="margin-top: 9px;"> Addresse ,Ville ou Airport <span
                                                    class="material-icons">
                                                    location_on
                                                </span> </p>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-md-4">
                                    <div class="form-group click">
                                        <h6 class="form-label text-primary">Voyageurs</h6>
                                        <div class="form-control" id="myBtn" (click)="openmodal()">

                                            <p style="margin-top: 9px;">1 chambre, 2 voyageurs
                                                <span class="material-icons">people</span></p>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-md-4">
                                    <div class="form-group">
                                        <h6 class="form-label text-primary">Check in</h6>
                                        <input class="form-control" type="date" required>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <h6 class="form-label text-primary">Check out</h6>
                                        <input class="form-control" type="date" required>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-btn">
                                        <button class="submit-btn ">
                                            <h5>Recherche</h5>
                                        </button>
                                    </div>


                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container">


    <h2 class="text-center text-primary"
        style="padding-top: 5%; padding-bottom: 2%; font-size: 40px; letter-spacing: 10px;">Nos
        Recommandation</h2>
    <hr>


    <div class="row">
        <div class="column">
            <div class="card">
                <img src="assets\img\Hammamet.jpg" style="width:100%">
                <div class="container">
                    <h4>Hasdrubal Thalassa et SPA </h4>
                    <p class="title">★★★★★ (Hammamet)</p>
                    <p style="font-size: small; color:grey"> a partir de * <br> <strong
                            style="color: orange; font-size: 30px;">98 dt</strong> <br> prix du 07/1/2021</p>
                    <p><button class="button">Plus de details</button></p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="assets\img\Hammamet1.jpg" style="width:100%">
                <div class="container">
                    <h4>El Mouradi El Menzah</h4>
                    <p class="title">★★★★ (Hammamet)</p>
                    <p style="font-size: small; color:grey"> a partir de * <br> <strong
                            style="color: orange; font-size: 30px;">75 dt
                        </strong> <br> prix du 05/4/2021</p>

                    <p><button class="button">Plus de details</button></p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="assets\img\mahdia.jpg" style="width:100% ; height: 170px;">
                <div class="container">
                    <h4>Club Calimera Yati Beach</h4>
                    <p class="title">★★★★ (Mahdia)</p>
                    <p style="font-size: small; color:grey"> a partir de * <br>
                        <strong style="color: orange; font-size: 30px;">43
                            dt</strong> <br> prix du 05/5/2021</p>
                    <p><button class="button">Plus de details</button></p>
                </div>
            </div>
        </div>
    </div>


    <h2 class="text-center text-primary"
        style="padding-top: 5%; padding-bottom: 2%; font-size: 40px; letter-spacing: 10px;">Nos Packs </h2>
    <hr>

    <div class="row">
        <div class="column">
            <div class="card">
                <img src="assets\img\pach33.jpg" style="width:100%">
                <div class="container">
                    <br>
                    <p><button class="button">Plus de details</button></p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="assets\img\pack55.jpg" style="width:100%">
                <div class="container">
                    <br>
                    <p><button class="button">Plus de details</button></p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="assets\img\pack22.jpg" style="width:100% ">
                <div class="container">

                    <br>
                    <p><button class="button">Plus de details</button></p>
                </div>
            </div>
        </div>
    </div>

    <hr>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam excepturi ratione iusto sequi modi, harum
        neque! Nobis officia ea sapiente exercitationem laudantium quos, id, alias magnam labore assumenda cum
        obcaecati.s</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A est cumque aliquam, aliquid ratione eveniet dicta
        similique quis necessitatibus fuga et explicabo tenetur id corrupti nobis animi eligendi? Fugiat, dolor!</p>

</div>
<br>
<br>

<!--modal-->



<div id="myModal" class="modal">
    <div class="modal-content" style="top:30vh">
        <div class="modal-header">
            <h5 class="text-primary">Voyageurs</h5>
            <span class="close" (click)="closemodal()">&times;</span>

        </div>

        <div class="modal-body" *ngFor="let chambre of listechambre; let index = index;">
            <hr *ngIf="index != 0">
            <h6 class="text-primary">chambre {{index + 1}}</h6>
            <span class="counter"><strong> Adultes</strong></span>
            <ul class="btn-group">
                <li>
                    <a (click)="moin(index,'adult')"> <span class="material-icons">
                            remove_circle_outlined
                        </span></a>
                </li>
                <li>
                    <input matInput type="text" size="1%" [value]="chambre.adult" readonly="isReadonly"
                        class="inputcounter">
                </li>
                <li>
                    <a (click)="plus(index,'adult')"><span class="material-icons">
                            add_circle_outlined
                        </span></a>
                </li>
            </ul> <br>
            <br>
            <br>
            <span class="counter"> <strong> Enfants </strong></span>

            <ul class="btn-group">
                <li>
                    <a (click)="moin(index,'enfant')">
                        <span class="material-icons">
                            remove_circle_outlined
                        </span></a>
                </li>
                <li>
                    <input type="text" size="1%" [value]="chambre.enfant" readonly="isReadonly" class="inputcounter">
                </li>
                <li>
                    <a (click)="plus(index,'enfant')">
                        <span class="material-icons">
                            add_circle_outlined
                        </span></a>
                </li>
            </ul>
            <div *ngIf="index != 0">
                <button (click)="removeChamber(index)" class="pstyle float-right text-danger">Supprimer la chambre</button>
                <br>
            </div>
        </div>


        <button id="btnforme" (click)="addChamber()" [disabled]="disabled" class="pstyle">Ajouter une autre
                chambre</button>

        <div class="modal-footer">
            <button class="btn btn-primary">Confirmer</button>
        </div>
    </div>
</div>


<!--modal-->
<div class="about-section">
    <h1>About Us footer</h1>
    <p>Lorem ipsum dolor sit labore!</p>
    <p>i will fix it by the way.</p>
</div>