<div class="section">
    <div id="main">
        <div class="fixed">
            <nav class="navbar">
                <img routerLink="/home" class="navbar-brand logo click" src="/assets/img/logo-air-travel2.png">
                <ng-container *ngIf="!authenticated; else elseTemplate">
                    <div class="navbar-nav ml-auto ">
                        <a routerLink="/sign-in" class="nav-item nav-link">Sign-in</a>
                    </div>
                    <div class="navbar-nav">
                        <a routerLink="/sign-up" class="nav-item nav-link">Sign-up</a>
                    </div>
                </ng-container>
                <ng-template #elseTemplate>
                    <div *ngIf="user.name" class="navbar-nav ml-auto " >
                        <p class="user-name-static">{{user.name + " " + user.lastname }}</p>
                    </div>
                    <div class="navbar-nav">
                        <div >
                            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" class="avatar">
                            </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item>
                                    <mat-icon>person</mat-icon>
                                    <span>profile</span>
                                </button>                                        
                                <button mat-menu-item>
                                    <mat-icon>notifications</mat-icon>
                                    <span>notifications</span>
                                </button>
                                <button mat-menu-item (click)="logout()">
                                    <mat-icon>logout</mat-icon>
                                    <span>logout</span>
                                </button>
                            </mat-menu>
                        </div>
                    </div>
                </ng-template>

                <!--<button class="openbtn" (click)="openNav()"><span><i class="fa fa-bars"></i></span></button>-->
            </nav>
        </div>
        <div id="mySidebar" class="sidebar" (mouseover)="toggleSidebar()" (mouseout)="toggleSidebar()">


            <br>
            <br>

            <a routerLink="/hotels" class="selected-route selected-nodes"><i
                    class="material-icons icon-left">hotel</i><span class="icon-text ">Hotel</span></a>
            <br>
            <a routerLink="/flights"><i class="material-icons icon-left">flight</i><span
                    class="icon-text ">Vols</span></a>
            <br>
            <a routerLink="/cars"><i class="material-icons icon-left">time_to_leave</i><span
                    class="icon-text ">Location</span></a><br>


            <a href="#"><span><i class="material-icons icon-left">card_giftcard</i><span class="icon-text">nos
                        packs</span></span></a><br>

            <!-- <div class="mobile">
                    <hr>
                    <a href="#"><span><i class="material-icons">login</i><span class="icon-text"></span>Connexion</span></a>
                    <a href="#"><span><i class="material-icons">person_add</i><span class="icon-text"></span>S'inscrire</span></a>
            
                </div>-->
        </div>
        <div class="container">
            <div class="row justify-content-center ">
                <div class="card searchcard1">
                    <div class="card-body">
                        <form name="form" #f="ngForm" (ngSubmit)="f.form.valid && submitForm()" class="form-inline">

                            <div class="form-group">
                                <p class="form-label">
                                    Destination </p>
                                <div class="ng-autocomplete">
                                    <ng-autocomplete [data]="locations" [formControl]="search" [isLoading]="isLoading"
                                        [searchKeyword]="key" (selected)='select($event)' [itemTemplate]="itemTemplate"
                                        [customFilter]="filter">
                                    </ng-autocomplete>

                                    <ng-template #itemTemplate let-loc>
                                        <span class="material-icons icon-right"> location_on </span>
                                        <div style="margin-top: 5px; margin-left: 5px; line-height: 60%;">
                                            <p [innerHTML]="'<b>' + loc.name + ' (' + loc.iataCode + ')</b>'"> </p>
                                            <span>{{loc.address.cityName}}</span><span>-{{loc.address.countryName |
                                                lowercase}}</span>
                                        </div>
                                        <hr>
                                    </ng-template>
                                    <div class="help-block" *ngIf="!picked">
                                        <div class="text-danger">please select a destination</div>
                                    </div>

                                </div>


                            </div>



                            <div class="form-group click">
                                <div class="form-control" id="myBtn" (click)="openmodal()">
                                    <label class="label" for="myBtn">Voyageurs</label>
                                    <p style="margin-top: 23px;">{{listechambre.length}} chambre, {{listechambre
                                        | sum}} voyageurs
                                        <span class="material-icons icon-right">people</span>
                                    </p>
                                </div>
                            </div>





                            <div class="form-group">
                                <mat-form-field appearance="outline" class="example-form-field1">
                                    <mat-label style="font-size:15px;">Check-in</mat-label>
                                    <input matInput [matDatepicker]="datepicker1" [min]="todaydate"
                                        [(ngModel)]="startDate" #start=ngModel name="start"
                                        [ngClass]="{'is-invalid': f.submitted && start.invalid}"
                                        (dateChange)="next($event)" required>
                                    <mat-datepicker-toggle matSuffix [for]="datepicker1">
                                    </mat-datepicker-toggle>

                                    <mat-datepicker #datepicker1>
                                        <mat-datepicker-actions>
                                            <button mat-button matDatepickerCancel>Cancel</button>
                                            <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                                        </mat-datepicker-actions>
                                    </mat-datepicker>
                                    <div *ngIf="f.submitted && start.invalid">
                                        <div class="text-danger" *ngIf="start.errors?.required">start date is
                                            required</div>
                                    </div>
                                </mat-form-field>
                            </div>


                            <div class="form-group">
                                <mat-form-field appearance="outline" class="example-form-field1">
                                    <mat-label style="font-size:15px;">Check-out</mat-label>
                                    <input matInput [matDatepicker]="datepicker2" [min]="minCheckout"
                                        [(ngModel)]="endDate" #end=ngModel name="end"
                                        [ngClass]="{'is-invalid': f.submitted && end.invalid}" required>
                                    <mat-datepicker-toggle matSuffix [for]="datepicker2">
                                    </mat-datepicker-toggle>

                                    <mat-datepicker #datepicker2>
                                        <mat-datepicker-actions>
                                            <button mat-button matDatepickerCancel>Cancel</button>
                                            <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                                        </mat-datepicker-actions>
                                    </mat-datepicker>
                                    <div *ngIf="f.submitted && end.invalid">
                                        <div class="text-danger" *ngIf="end.errors?.required">End date is
                                            required</div>
                                    </div>
                                </mat-form-field>
                            </div>


                            <div class="form-group">
                                <button class="btn submit-btn" type="submit">
                                    Recherche
                                </button>
                            </div>





                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">


    <h2 class="text-center  header-center">
        Nos Recommandation</h2>


    <div class="row">
        <div class="column">
            <div class="card">
                <img src="assets\img\Hammamet.jpg" style="width:100%">
                <div class="container">
                    <h4>Hasdrubal Thalassa et SPA </h4>
                    <p class="title">★★★★★ (Hammamet)</p>
                    <p style="font-size: small; color:grey"> a partir de * <br> <strong
                            style="color: chocolate; font-size: 30px;">98 dt</strong> <br> prix du 07/1/2021</p>
                    <p><button class="button">Plus de details</button></p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="assets\img\Hammamet1.jpg" style="width:100%">
                <div class="container">
                    <h4>El Mouradi El Menzah</h4>
                    <p class="title">★★★★ (Hammamet)</p>
                    <p style="font-size: small; color:grey"> a partir de * <br> <strong
                            style="color:chocolate; font-size: 30px;">75 dt
                        </strong> <br> prix du 05/4/2021</p>

                    <p><button class="button">Plus de details</button></p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="assets\img\mahdia.jpg" style="width:100% ; height: 170px;">
                <div class="container">
                    <h4>Club Calimera Yati Beach</h4>
                    <p class="title">★★★★ (Mahdia)</p>
                    <p style="font-size: small; color:grey"> a partir de * <br>
                        <strong style="color: chocolate; font-size: 30px;">43
                            dt</strong> <br> prix du 05/5/2021
                    </p>
                    <p><button class="button">Plus de details</button></p>
                </div>
            </div>
        </div>
    </div>


    <h2 class="text-center  header-center">

        Meilleur Prix </h2>

    <div class="row">
        <div class="column">
            <div class="card">
                <img src="assets\img\pach33.jpg" style="width:100%">
                <div class="container">
                    <br>
                    <p><button class="button">Plus de details</button></p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="assets\img\pack55.jpg" style="width:100%">
                <div class="container">
                    <br>
                    <p><button class="button">Plus de details</button></p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="assets\img\pack22.jpg" style="width:100% ">
                <div class="container">

                    <br>
                    <p><button class="button">Plus de details</button></p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">

        <div class="row justify-content-center" style="margin-top: 90px ;">
            <div class="col-md-12 travel-img ">
                <img src="/assets/img/travel2.png" class="img-fluid " alt="Responsive image">
                <div class="text-travel">

                    on a recommander pour vous <br> <a routerLink=""
                        style="font-size:22px; color:rgb(255, 168, 39)">Voir details</a>
                </div>
            </div>
        </div>
    </div>

</div>
<br>
<br>

<!--modal-->



<div id="myModal" class="modal">
    <div class="modal-content" style="top:30vh">
        <div class="modal-header">
            <h5 class="text-primary">Voyageurs</h5>
        </div>

        <div class="modal-body" *ngFor="let chambre of listechambre; let index = index;">
            <hr *ngIf="index != 0">
            <h6 class="text-primary">chambre {{index + 1}}</h6>
            <span class="counter"><strong> Adultes</strong></span>
            <ul class="btn-group">
                <li>
                    <a (click)="moin(index,'adult')"> <span style="margin-right: -22px;"
                            class="material-icons modal-icon">
                            remove_circle_outlined
                        </span></a>
                </li>
                <li>
                    <input matInput type="text" size="1%" [value]="chambre.adult" readonly="isReadonly"
                        class="inputcounter">
                </li>
                <li>
                    <a (click)="plus(index,'adult')"><span class="material-icons modal-icon">
                            add_circle_outlined
                        </span></a>
                </li>
            </ul> <br>
            <br>
            <br>
            <span class="counter"> <strong> Enfants </strong></span>

            <ul class="btn-group">
                <li>
                    <a (click)="moin(index,'enfant')">
                        <span class="material-icons modal-icon">
                            remove_circle_outlined
                        </span></a>
                </li>
                <li>
                    <input type="text" size="1%" [value]="chambre.enfant" readonly="isReadonly" class="inputcounter">
                </li>
                <li>
                    <a (click)="plus(index,'enfant')">
                        <span class="material-icons modal-icon">
                            add_circle_outlined
                        </span></a>
                </li>
            </ul>
            <div *ngIf="index != 0">
                <button (click)="removeChamber(index)" class="pstyle float-right text-danger">Supprimer la
                    chambre</button>
                <br>
            </div>
        </div>


        <button id="btnforme" (click)="addChamber()" [disabled]="disabled" class="pstyle">Ajouter une autre
            chambre</button>

        <div class="modal-footer">
            <button class="btn btn-primary" (click)="closemodal()">Confirmer</button>
        </div>
    </div>
</div>




<!--footer-->
<footer class="page-footer font-small blue-grey lighten-5">



    <!-- Footer Links -->
    <div class="container text-center text-md-left mt-5">

        <!-- Grid row -->
        <div class="row mt-3 dark-grey-text">

            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mb-4">

                <!-- Content -->
                <h5 class="text-uppercase font-weight-bold">Air Travel</h5>
                <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">

                <p class="dark-grey-text">
                    <span class="material-icons" style="vertical-align: middle;">
                        sell
                    </span> Meilleur prix garanti
                </p>


                <p class="dark-grey-text">
                    <span class="material-icons" style="vertical-align: middle;">
                        lock
                    </span>
                    Paiement en toute sécurité
                </p>


            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

                <!-- Links -->
                <h5 class="text-uppercase font-weight-bold">A propos </h5>
                <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <a class="dark-grey-text" href="#!">Qui sommes nous</a>
                </p>
                <p>
                    <a class="dark-grey-text" href="#!">Contactez nous</a>
                </p>



            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

                <!-- Links -->
                <h5 class="text-uppercase font-weight-bold">LIENS</h5>
                <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <a class="dark-grey-text" routerLink="/signin">Log-in</a>
                </p>
                <p>
                    <a class="dark-grey-text" routerLink="/hotels">Hotel</a>
                </p>
                <p>
                    <a class="dark-grey-text" routerLink="/flights">Vols</a>
                </p>
                <p>
                    <a class="dark-grey-text" routerLink="">Location</a>
                </p>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

                <!-- Links -->
                <h5 class="text-uppercase font-weight-bold">Contact</h5>
                <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <i class="fas fa-home mr-3"></i> Djerba,Midoune 4116 <br>

                </p>
                <p>
                    <i class="fas fa-envelope mr-3"></i> support@air-travel.com
                </p>
                <p>
                    <i class="fas fa-phone mr-3"></i> + 216 234 567 88
                </p>
                <p>
                    <i class="fas fa-print mr-3"></i> + 216 234 567 89
                </p>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center text-black-50 py-3">© 2020 Copyright:
        <a class="dark-grey-text" href="www.trc-web.fr"> TRC-Web.com</a>
    </div>
    <!-- Copyright -->

</footer>
<!--footer-->