@media screen and (min-width: 420px) {
  .section {
    background-image: url("/assets/img/bghotel.png");
    background-size: cover;
    background-position: center;
    position: relative;
    height: 80vh;
    
  }
  .section::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.4);
}
  
 
  .icon-right {
    vertical-align: middle;
    float: right;
    padding-right: 8px;
    color: black;
    height: 2rem;
  }
/* side bar */
.sidebar {
  height: 89.5%;
  width: 50px;
  position: absolute;
  z-index: 1;
  left: 0;
  overflow-x: hidden;
  padding-top: 60px;
  white-space: nowrap;
  transition: 0.5s;
  border-right: 2px solid #dbe8f5;
  
  
}

.sidebar a {
  padding: 0px 0px 0px 30px;
  text-decoration: none;
  font-size: 17px;
  color: #ffffff;
  display: block;
  margin-left: -4px;
}

.sidebar a:hover {
  color: chocolate;
}


.icon-text {
  vertical-align: super;
  color: white;
}


.icon-text:hover {
  color: chocolate;
}

.icon-left {
  padding-bottom: 3px;
  margin-right: 25px;
  margin-left: -15px;
  color: #dbe8f5;
}
 /*sidebar*/




 /*navb*/
 .logo {
  display: inline-block;
  width: 70px;
  height: 60px;
  margin-left: -10px;
  margin-top: -16px;
  margin-bottom: -20px;
  background-size: contain;
}

.navbar-nav a {
  color: #dbe8f5;
  padding: 10px;
  font-size: 15px;
  font-weight: 500;    
}

.navbar-nav a:hover {
  color: chocolate;
  
}

.navbar {
  border-bottom: 2px solid #dbe8f5;
 

  
 
}

/*navb*/
  ::ng-deep.autocomplete-container .input-container input {
    height: 57px !important;
    box-shadow: none !important;
    background-color: white !important;
    border: 1px solid rgb(230, 222, 222) !important;
    border-radius: 4px;
  }

  ::ng-deep.mat-form-field-outline {
    background-color: transparent !important;
    background: rgba(255, 255, 255, 0.85) !important;
    border-radius: 4px;
  }

  ::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: #0275d8 !important;
  }

  ::ng-deep.mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: #0275d8 !important;
  }

  ::ng-deep .mat-form-field-label {
    /*change color of label*/
    color: chocolate !important;
    font-weight: 500;
    font-size: 35px;
  }

  ::ng-deep.ng-invalid.ng-touched,
  .ng-invalid.ng-dirty {
    border-bottom: transparent;
  }
  .form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #0a0a0a;
    background-color: #f7f6f6ef;
    background-clip: padding-box;
    border: 1px solid;
    border-radius: .25rem;
    /* transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; */
}
.header-center {
  padding-top: 8%;
   padding-bottom: 3%; 
    font-size: 2rem;
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  grid-column-gap: 1rem;
  align-items: center;
  color : chocolate;

}

.header-center::before,
.header-center::after {
  content: "";
  display: block;
  height: 1px;
  background-color: currentColor;
 
}
.travel-img img {
  display: inline-block;
  height: auto;
  width: 100%;
  margin: 1%;
  border-radius: 10px;
}

.travel-img::before {
  content: "";
  position: absolute;
  top: 12.5px;
  right: 4px;
  bottom: 0px;
  left: 24.5px;
  background-color: rgba(0,0,0,0.5);
  display: inline-block;
  height: 95%;
  width: 97.5%;
  margin: 0%;
  border-radius: 10px;
}


.text-travel{
  position: absolute;
  bottom: 30px;
  left: 40px;
  color : rgb(232, 223, 223) ;
  letter-spacing: 1px;
  font-size: 25px;
  font-weight: 500;
}

  .ng-autocomplete {
    width: 20.4rem !important;
    margin-right: 10px !important;
    height: 20px;
    padding: 20px 0px 0px 10px !important;
    margin-top: -85px;
  }
  #myBtn {
    height: 58px;
    font-size: 14px;
    margin-top: 30px;
    border: 1px solid rgb(230, 222, 222);
  }

  .submit-btn{
   color : white ;
   border-radius: 4px;
   background-color : chocolate ; 
   margin-left: 24rem;
   width: 10rem ;
   height: 45px;
  }
  ::ng-deep.mat-form-field-infix {
   
    margin-top: 10px !important;
}

  

  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }

  html {
    box-sizing: border-box;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  .column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
  }

  .container {
    padding: 0 16px;
  }

  .container::after,
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .title {
    color: grey;
  }

  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: rgb(32, 134, 181);
    text-align: center;
    cursor: pointer;
    width: 100%;
  }

  .button:hover {
    background-color: #555;
  }

  .searchcard1 {
    width: 63rem !important;
    max-width: 63rem !important;
    height: 14rem !important;
    min-height: 14rem !important;
    margin-top: 6.5rem !important;
    border-radius: 7px;
     box-shadow: 0 8px 10px 0 rgba(0,0,0,0.2);
     background-color :transparent;
     background : rgba(255, 255, 255, 0.55);
     -webkit-transition: 0.2s background;
     transition: 0.2s background;
  }
  .label {
    float: left;
    font-size: 13px;
    color: chocolate;
  }

  ::ng-deep.example-form-field1 {
    margin-top: 50px;
    margin-left: 10px;
  }

  ::ng-deep.mat-form-field-flex {
    height: 62px;
    width: 12rem !important;
  }

  .form-label {
    position: absolute;
    z-index: 1;
    margin-top: 17px;
    margin-left: 20px;
    color: chocolate;
  }
}
@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.selected-nodes > * {
  color: rgb(196, 188, 185);
}