

<app-navbar></app-navbar>
<app-sidebar></app-sidebar>
<div id="booking" class="section">
    <div id="main">
        <div class="section-center">
                    <div class="container-fluid">
                        <div class="row justify-content-center">
                            <form>
                            <div class="col-md-3 mt-md-0 mt-3">
                                <h6 class="form-label text-primary" style="position: absolute; z-index: 1;">
                                    Destination </h6>
                                <div class="ng-autocomplete">
                                    <ng-autocomplete [data]="locations" [formControl]="search" [isLoading]="isLoading" [searchKeyword]="key"
                                        (selected)='select($event)' (inputChanged)='onChangeSearch($event)' (inputFocused)='onFocused($event)'
                                        [itemTemplate]="itemTemplate" [customFilter]="filter">
                                    </ng-autocomplete>
                                
                                    <ng-template #itemTemplate let-loc>
                                        <span class="material-icons"> location_on </span>
                                        <div style="margin-left: 5px;">
                                            <p [innerHTML]="'<b>' + loc.name + ' (' + loc.iataCode + ')</b>'"> </p>
                                            <span>{{loc.address.cityName}}</span><span>-{{loc.address.countryName | lowercase}}</span>
                                        </div>
                                        <hr>
                                    </ng-template>
                                
                                </div>
                            </div>
                        </form>
                    </div>>
                <!--<div class="row" style="justify-content: center;">
                    <div class="booking-form">
                        <form>
                            <div class="row no-margin">

                                <div class="col-md-8">
                                    <div class="form-group">
                                        <h6 class="form-label text-primary">Destination</h6>
                                        <div class="form-control">
                                           
                                            <p style="margin-top: 9px;"> Addresse ,Ville ou Airport <span
                                                    class="material-icons">
                                                    location_on
                                                </span> </p>
                                        </div>
                                    </div>
                                </div>


                                


                                <div class="col-md-4">
                                    <div class="form-group">
                                        <h6 class="form-label text-primary">Check in</h6>
                                        <input class="form-control" type="date" required>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <h6 class="form-label text-primary">Check out</h6>
                                        <input class="form-control" type="date" required>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-btn">
                                        <button class="submit-btn ">
                                            <h5>Recherche</h5>
                                        </button>
                                    </div>


                                </div>
                            </div>

                        </form>
                    </div>
                </div>-->
            </div>
        </div>
 

</div>



</div>
    

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam excepturi ratione iusto sequi modi, harum
        neque! Nobis officia ea sapiente exercitationem laudantium quos, id, alias magnam labore assumenda cum
        obcaecati.s</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A est cumque aliquam, aliquid ratione eveniet dicta
        similique quis necessitatibus fuga et explicabo tenetur id corrupti nobis animi eligendi? Fugiat, dolor!</p>


<br>
<br>








