

<app-navbar></app-navbar>
<app-sidebar></app-sidebar>
<div id="booking" class="section">
    <div id="main">
        <div class="section-center">


            <div class="container">
                <div class="row" style="justify-content: center;">
                    <div class="booking-form">
                        <form>
                            <div class="row no-margin">

                                <div class="col-md-8">
                                    <div class="form-group">
                                        <h6 class="form-label text-primary">Destination</h6>
                                        <div class="form-control">
                                           
                                            <p style="margin-top: 9px;"> Addresse ,Ville ou Airport <span
                                                    class="material-icons">
                                                    location_on
                                                </span> </p>
                                        </div>
                                    </div>
                                </div>


                                


                                <div class="col-md-4">
                                    <div class="form-group">
                                        <h6 class="form-label text-primary">Check in</h6>
                                        <input class="form-control" type="date" required>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <h6 class="form-label text-primary">Check out</h6>
                                        <input class="form-control" type="date" required>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-btn">
                                        <button class="submit-btn ">
                                            <h5>Recherche</h5>
                                        </button>
                                    </div>


                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





    
    <hr>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam excepturi ratione iusto sequi modi, harum
        neque! Nobis officia ea sapiente exercitationem laudantium quos, id, alias magnam labore assumenda cum
        obcaecati.s</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A est cumque aliquam, aliquid ratione eveniet dicta
        similique quis necessitatibus fuga et explicabo tenetur id corrupti nobis animi eligendi? Fugiat, dolor!</p>


<br>
<br>


<footer class="pt-4 pt-md-5 border-top" style="background-color: #f4f4fc;">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md">
               
            </div>
            <div class="col-6 col-md">
                <h5>Features</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Cool stuff</a></li>
                    <li><a class="text-muted" href="#">Random feature</a></li>
                    <li><a class="text-muted" href="#">Team feature</a></li>
                    <li><a class="text-muted" href="#">Stuff for developers</a></li>
                    <li><a class="text-muted" href="#">Another one</a></li>
                    <li><a class="text-muted" href="#">Last time</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Resources</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Resource</a></li>
                    <li><a class="text-muted" href="#">Resource name</a></li>
                    <li><a class="text-muted" href="#">Another resource</a></li>
                    <li><a class="text-muted" href="#">Final resource</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>About</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Team</a></li>
                    <li><a class="text-muted" href="#">Locations</a></li>
                    <li><a class="text-muted" href="#">Privacy</a></li>
                    <li><a class="text-muted" href="#">Terms</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>






